SERVER_URL=http://localhost:3000
MAIL_SENDER='Local Mail'
MAILHOG_SERVER=http://localhost:8025
MAIL_CONFIRM=false
MAIL_TYPE=mailhog
SLOW_MO=500
PRODUCT_TEST_ID=8
SELLER_URL=http://localhost:8003
SELLER_USERNAME=test@email.com
SELLER_PASSWORD=12345678